.title {
    margin-top: 20px;
    margin-bottom: 40px;
}

.container .title h1 {
    color:black;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size:70pt;
    font-family:Times;
    line-height:100%;
}
 
.container .title div {
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

img {
    box-shadow: 0 2px 10px #666;
    -webkit-box-shadow: 0 2px 10px #666;
    -moz-box-shadow: 0 2px 10px #666;
    margin: 15px;
}

.container h1 {
    margin-top: 80px;
    font-size: 40px;
    line-height: 48px;
}

.container h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.container h4 {
    font-size: 18px;
}

.menu li {
    list-style: outside none;
}

.menu ul {
    margin: 0;
}