{% case page.tab %}
{% when 'registration' %}
{% assign registration = 'active' %}
{% when 'authentication' %}
{% assign authentication = 'active' %}
{% when 'resources' %}
{% assign resources = 'active' %}
{% when 'errors' %}
{% assign errors = 'active' %}
{% endcase %}

<head>
  <title>{{ page.title }} - Ubiregi API</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/ubiregi-api/bootstrap.min.css">
  <link rel="stylesheet" href="/ubiregi-api/top.css">
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
      	<div class="row">
      	  <div class="span12 offset2">
      	    <h3><a href="/ubiregi-api/index.html">Ubiregi API</a></h3>
      	    <ul class="nav">
    	        <li class="{{ registration }}"><a href="/ubiregi-api/registration.html">Registration</a>     	      
      	      <li class="{{ authentication }}"><a href="/ubiregi-api/authentication.html">Authentication</a>
      	      <li class="{{ resources }}"><a href="/ubiregi-api/resources.html">Resources</a>
      	      <li class="{{ errors }}"><a href="/ubiregi-api/errors.html">Error handling</a>
      	    </ul>
      	  </div>
      	</div>
      </div>
    </div>
  </div>
  {% if page.logo %}
    <div class="panel">
      <div class="inner-panel">
        <h1>Ubiregi API</h1>
        <h2>Ubiregi is simple and clean yet poweful; so the API is.</h2>
      </div>
    </div>
  {% endif %}
  <div class="container" style="margin-top:60px; margin-bottom:2em">
    <div class="row">
      <div class="span12 offset2">
	{{ content }}
      </div>
    </div>
  </div>
  <hr>
  <div class="container" style="text-align:center; margin-bottom:2em">
    &copy; 2011 Ubiregi Inc. All rights reserved.
  </div>
</body>
