%h1#object-customer-note CustomerNote

:markdown
  A customer note belongs to a customer.

.row
  .span8
    %h4 Fields

    %dl
      %dt id :: integer
      %dd ID of this object.
      %dt customer_id :: integer (<em>required</em>)
      %dd ID which thie object belongs to.
      %dt app_created_at (<em>required</em> and <em>WriteOnly</em>)
      %dd Time when the note is created in a client app
      %dt guid (<em>required</em>)
      %dd GUID
      %dt checkout_id :: integer
      %dt kind (<em>ReadOnly</em>)
      %dt note :: string
      %dt photo
      %dt checkout_summary
  .span8
    %h4 Example

    %pre
      = preserve do
        :escaped
          {
            "id": 1,
            "customer_id": 1,
            "app_created_at": "2012-02-14T00:00:00Z",
            "guid": $UUID-like-sequence,
            "checkout_id": 2,
            "kind": 2,
            "note": "Memo Memo",
            "photo": $base64Encoded,
            "checkout_summary": "Summary"
          }

