%h1#api-notes API Notes

%h2 IDs are Universal

:markdown
  There are only one scope of ID, *Universal*.
  
  If this doc says *ID*, it is an one origin integer value which uniquely determins an object on ubiregi server.

%h2 Special Fields

:markdown
  Most objects have special fields, `created_at` and `updated_at`.

%dl
  %dt= field "created_at", :readonly
  %dd
    Server time at which the object is created.
  %dt= field "updated_at", :readonly
  %dd
    Server time at which the object is updated.

%h2 Permissions on Objects of Other Accounts

%h2 Stock Calculation Model

%h2 app_created_at