%h2#api-general-notes General Notes

%h3 IDs are Universal

:markdown
  There are only one scope of ID, *Universal*.
  
  If this doc says *ID*, it is an one origin integer value which uniquely determins an object on ubiregi server.
