%h1 Error Handling

:markdown
  Errors are notified via HTTP response status. Error code are following
  the standarad HTTP error code syntax. If there are something bad in
  your request, you will get `4xx`. If there are something wrong
  happen on the server, you will get `5xx`.

:markdown
  The response body contains JSON object which represents the detail of the error.

%h2 Status code

%p 
  We define two status code, where the meaning is shared between all requests.

%dl
  %dt 401 (Unauthorized)
  %dd The request does not contains valid authentication token for your application.
  %dt 402 (Payment required)
  %dd The account's subscriptions are all expired.

%h2 JSON body example

%pre
  = preserve do
    :escaped
      [
        {
          "resource": "https://ubiregi.com/api/3/menus/1",
          "errors": {
            "*": ["permission denied"],
          }
        }
      ]

%pre
  = preserve do
    :escaped
      [
        {
          "resource": "https://ubiregi.com/api/3/menus/items/134",
          "errors": {
            "name": ["can't be blank"],
            "price": ["should be a number"],
          }
        },
      ]
