%h1 Error Handling

:markdown
  Errors are notified via HTTP response status. Error code are following
  the standarad HTTP error code syntax. If there are something bad in
  your request, you will get `4xx`. If there are something wrong
  happen on the server, you will get `5xx`.

:markdown
  The response body contains JSON object which represents the detail of the error.

%h2 Status code

%p 
  We define two status code, where the meaning is shared between all requests.

%dl
  %dt 401 (Unauthorized)
  %dd The request does not contains valid authentication token for your application.
  %dt 402 (Payment required)
  %dd The account's subscriptions are all expired.
  %dt 403 (Forbidden)
  %dd 
    Your request is rejected by the server.  For example, if you modify read-only
    attribute, status code 403 is returned.
  %dt 404 (Not Found)
  %dd 
    Resources client want to require is not found.  If the status code is 404,
    we recommend you to check account id, menu id, customer id, and so on in request JSON.

%h2 JSON body example

%pre
  = preserve do
    :escaped
      [
        {
          "reason": "you are not allowed to change the information of this account"
        }
      ]

%pre
  = preserve do
    :escaped
      [
        {
          "reason": "the resource you requested was not found"
        }
      ]
