%p
  Ubiregi API allows third parties to develop systems which interact
  with Ubiregi data, including menus, tags, customers, and checkouts.
%p
  Using Ubiregi API, you can develop your own application for:

%ul
  %li Editing menus with your <s>legacy</s> excellent system
  %li Importing sales data into your <s>legacy</s> great system
  %li Advanced sales analysis
  %li Advanced stock control
  %li Booking

%p
  and, such features essential for your or your clients' business.

%p
  Ubiregi API provides almost full access to Ubiregi's data. Everything
  except authentication is the same with what the Ubiregi app is doing.
  (In fact, the API v3 is essentialy more powerful than API v2, which is
  used until Ubiregi2 2.8.)

%h2 Implementation Status

%table.condensed-table
  %thead
    %tr
      %th Resource(s)
      %th Implementation
      %th Documentation
  %tbody
    %tr
      %th /accounts/<em>:account_id</em>
      %td Finished
      %td Finished
    %tr
      %th /accounts/<em>:account_id</em>/cashiers
      %td Started
      %td Started
    %tr
      %th /accounts/<em>:account_id</em>/customer_tags
      %td Not yet
      %td Started
    %tr
      %th /accounts/<em>:account_id</em>/payment_types
      %td Not yet
      %td Started
    %tr
      %th /accounts/<em>:account_id</em>/tables
      %td Not yet
      %td Started
    %tr
      %th /menus/:id/items
      %td <b>Readonly</b>
      %td -
    %tr
      %th /menus/:id/categories
      %td <b>Readonly</b>
      %td -
    %tr
      %th /accounts/<em>:account_id</em>/checkouts
      %td Not yet
      %td Not yet
    %tr
      %th /checkouts/<em>:checkout_id</em>
      %td Not yet
      %td Not yet
    %tr
      %th /customers
      %td Not yet
      %td Not yet
    %tr
      %th /customers/notes
      %td Not yet
      %td Not yet
    %tr
      %th /accounts/<em>:account_id</em>/stocks/events
      %td Not yet
      %td Not yet

%h2 Examples

%dl
  %dt= link_to("ubiregi-api-client-example.rb", "ubiregi-api-client-example.rb")
  %dd 
    A Ruby script which contains simple wrapper class of Ubiregi API, and simple app.
    Authentication, fetching account information and menus, posting a checkout, and fetching checkouts work.


%h2 Five Steps to Develop Your App

%ol
  %li Signup to ubiregi.com
  %li Register for developer account and new application
  %li Install the application on your account
  %li Download the #{ link_to('sample app', 'ubiregi-api-client-example.rb') }
  %li Change the sample app, and it is your app now!

%h2 
  General Notes
  %small Things every developer should know

%h3 The API is entirely HTTP-based, and RESTful

%p
  Methods to retrieve data from the Ubiregi API requires a GET
  request. Methods to create new things requires a POST request. And to
  update things requires a PUT request. Most methods requires a
  particular HTTP method and will return an error if you do not make your
  request with the correct one.

%h3 Ubiregi web app is built on Rails

%p
  We use Ruby on Rails 3 to develop ubiregi.com web app. We carefully
  described things non-rails-developer should mention about, but may be
  insufficient.

%p
  If you have some problem, you may need to check Rails related
  documents.

%h3 JSON is used

%p
  We use JSON for every structured data. It implies that binary data are
  encoded with base64 and non-ascii characters are UTF8 encoded.

%h3 Use HTTPS

%p 
  All requests to Ubiregi API must be HTTPS requests.
