%p
  Ubiregi API is currently <strong>beta version</strong>.  There are <strong>no guarantees</strong> to use it.  Behaviors of the API
  maybe <strong>changed or fixed without notice</strong>.

%h1#introduction Introduction

%p
  Ubiregi API allows third parties to develop systems which interact
  with Ubiregi data, including menus, tags, customers, and checkouts.
%p
  Using Ubiregi API, you can develop your own application for:

%ul
  %li Editing menus with your <s>legacy</s> excellent system
  %li Importing sales data into your <s>legacy</s> great system
  %li Advanced sales analysis
  %li Advanced stock control
  %li Booking

%p
  and, such features essential for your or your clients' business.

%p
  Ubiregi API provides almost full access to Ubiregi's data. Everything
  except authentication is the same with what the Ubiregi app is doing.
  (In fact, the API v3 is essentially more powerful than API v2, which is
  used by Ubiregi 2.x)

%h2#introduction-quick-start Quick Start

%ol
  %li Sign-up to ubiregi.com
  %li Register for developer account and new application
  %li Install the application on your account
  %li Download the examples.
  %li Change the sample app, and it is your app now!

%h2#introduction-general-notes
  General Notes
  %small Things every developer should know

%h4 Github project

%p
  We have #{link_to "github project", "https://github.com/ubiregiinc/ubiregi-api"} to communicate with Ubiregi API users.
  It has an issue tracker, and we are using it.

%p
  %span.label.warning Note
  All issues, but security related ones, are expected to be reported on the tracker.
  Think twice before you send me an email to report an issue.

%h4 The API is Entirely HTTP-based, and Almost RESTful

%p
  Methods to retrieve data from the Ubiregi API requires a GET
  request. Methods to create new things requires a POST request. And to
  update things requires a PUT request. Most methods requires a
  particular HTTP method and will return an error if you do not make your
  request with the correct one.

%p
  The API is almost RESTful.
  Every operations are update of attributes of resources.

%h4 Ubiregi Web App is Built on Rails

%p
  We use Ruby on Rails 3 to develop ubiregi.com web app. You may find
  something odd our api. It should be because of Rails requirements.

%p
  We carefully described things non-rails-developer should mention
  about, but may be insufficient. If you have some problem, you may
  need to check Rails related documents.

%h4 JSON is Used

%p
  We use JSON for every structured data. It implies that binary data are
  encoded with base64 and non-ascii characters are UTF8 encoded.

%p
  POST request should be send with HTTP header <code>Content-Type: application/json</code>.

%h4 Use HTTPS

%p 
  All requests to Ubiregi API must be HTTPS requests.

%h2#introduction-examples Examples

%dl
  %dt= link_to("Ubiregi-API-Client for Scala", "https://github.com/ubiregiinc/ubiregi-api-client-scala")
  %dd
    Simple library which abstracts API calls and authentications, for Scala.

