%script{ :src => "jquery.js" }
%script{ :src => "bootstrap-tabs.js" }

%ul.tabs{ :data => { :tabs => "tabs" } }
  %li.active= link_to("General Notes", "#general-notes")
  %li= link_to "Objects", "#objects"
  %li= link_to "Resources", "#resources"

.tab-content
  .active.tab-pane#general-notes


      
  .tab-pane#objects

  .tab-pane#resources

:javascript
  $('.tabs').tabs()
